@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-sans bg-background text-primary;

	background-image: url('../../public/assets/bg_pattern.svg');
}

.toggle {
	@apply inline-flex items-center cursor-pointer;
}

.toggle[data-focused='true'] > span > span:nth-child(1) {
	@apply border-action;
}

.toggle > span > span:nth-child(1) {
	@apply block w-10 h-6 transition-all duration-300 rounded-full shadow-inner border-2 border-transparent;
}

.toggle > span > span:nth-child(2) {
	@apply absolute block w-4 h-4 mt-1 ml-1 rounded-full shadow inset-y-0 left-0 transition-transform duration-300 ease-in-out bg-primary;
}

.toggle > span > span:nth-child(2) > input {
	@apply absolute opacity-0 w-0 h-0 cursor-pointer;
}

.toggle[data-checked='true'] > span > span:nth-child(2) {
	@apply transform translate-x-full;
}

.option {
	@apply w-full block relative p-2 text-primary font-normal text-lg text-center cursor-pointer;
}

.option input:checked ~ span:nth-of-type(2) {
	@apply bg-focus;
}

.option span:nth-of-type(1) {
	@apply relative z-10;
}

.option span:nth-of-type(2) {
	@apply absolute top-0 left-0 w-full h-full rounded-lg block transition duration-200 bg-border;
}

.option input {
	@apply hidden;
}

.tip-base {
	@apply p-2 text-center w-full font-bold text-lg block;
}

.tip-info {
	@apply tip-base bg-action text-secondary;
}

.tip-danger {
	@apply tip-base bg-progress text-primary;
}

.result {
	@apply py-2 px-4 rounded-lg capitalize text-primary bg-border text-center w-full font-normal transition duration-200 relative flex justify-between items-center overflow-hidden text-lg;
}

.result > div {
	transform-origin: left;
	animation-name: results;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes results {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

.button {
	@apply p-2 rounded-lg capitalize text-secondary bg-action text-center font-bold text-lg border-2 border-transparent transition-all duration-200;
}

.button:focus,
.button:active {
	@apply border-focus;
}

[disabled=''] .button {
	@apply cursor-not-allowed opacity-50;
}

[disabled=''] .button:focus,
[disabled=''] .button:active {
	@apply border-transparent;
}

.input {
	@apply py-2 pl-4 pr-2 rounded-lg border-2 bg-transparent border-border text-primary transition-all duration-200 text-lg w-full outline-none;
}

.input:active,
.input:focus {
	@apply border-focus;
}

.input:active::placeholder,
.input:focus::placeholder {
	@apply text-primary;
}

.toast {
	@apply button m-auto fixed left-0 top-0 right-0 w-full block normal-case rounded-none;

	animation-name: fall;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 1.125rem;
	height: 1.125rem;
}

.loader {
	margin: 0 auto;
	position: relative;
	border-top: 1rem solid rgba(255, 255, 255, 0.2);
	border-right: 1rem solid rgba(255, 255, 255, 0.2);
	border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
	border-left: 1rem solid #ffffff;
	animation: load8 1.1s infinite linear;
}

@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fall {
	0% {
		transform: translateY(-300%);
	}
	100% {
		transform: translateY(0);
	}
}
