@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-sans bg-background text-primary;
}

.toggle {
	@apply inline-flex items-center cursor-pointer;
}

.toggle[data-focused='true'] > span > span:nth-child(1) {
	@apply border-action;
}

.toggle > span > span:nth-child(1) {
	@apply block w-10 h-6 transition-all duration-300 rounded-full shadow-inner border-2 border-transparent;
}

.toggle > span > span:nth-child(2) {
	@apply absolute block w-4 h-4 mt-1 ml-1 rounded-full shadow inset-y-0 left-0 transition-transform duration-300 ease-in-out bg-white;
}

.toggle > span > span:nth-child(2) > input {
	@apply absolute opacity-0 w-0 h-0 cursor-pointer;
}

.toggle[data-checked='true'] > span > span:nth-child(2) {
	@apply transform translate-x-full;
}

.option-base {
	@apply p-2 rounded-lg capitalize text-primary text-center w-full font-normal text-lg cursor-pointer w-full block transition duration-200;
}

.option-base input {
	@apply hidden;
}

.option {
	@apply option-base bg-border;
}

.option-checked {
	@apply option-base bg-focus;
}

.tip-base {
	@apply p-2 text-center w-full font-bold text-lg block;
}

.tip-info {
	@apply tip-base bg-action text-secondary;
}

.tip-danger {
	@apply tip-base bg-progress text-primary;
}

.result {
	@apply py-2 px-4 rounded-lg capitalize text-primary bg-border text-center w-full font-normal w-full transition duration-200 relative flex justify-between items-center overflow-hidden;
}

.button {
	@apply p-2 rounded-lg capitalize text-secondary bg-action text-center w-full font-bold text-lg border-2 border-transparent transition-all duration-200;
}

.button:focus,
.button:active {
	@apply border-focus;
}

.input {
	@apply py-2 pl-4 pr-2 rounded-lg border-2 bg-transparent border-border text-primary transition-all duration-200 text-lg w-full outline-none;
}

.input:active,
.input:focus {
	@apply border-focus;
}

.input:active::placeholder,
.input:focus::placeholder {
	@apply text-primary;
}

.toast {
	@apply button m-auto fixed left-0 right-0 w-11/12 block normal-case max-w-screen-sm;

	animation-name: popinoutMobile;
	animation-duration: 4.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes popinoutMobile {
	0% {
		transform: translateY(-300%);
	}
	5% {
		transform: translateY(0);
	}
	95% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-300%);
	}
}
